* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  background: white;
}
.border {
  height: 100%;
  margin-left: 25%;
  margin-right: 25%;
}
.top {
  background-color: brown;
  font-size: larger;
  font-weight: bold;
  border-bottom: 5px solid black;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding-left: 200px;
  padding-right: 200px;
}

.logo {
  width: 150px;
  align-items: center;
  padding: 1rem;
}
.image {
  width: 100%;
  background: url(Assets/lake-3397784_1280.jpg);
  height: 350px;
  position: relative;
  object-fit: cover;
}
.box {
  background-color: cornflowerblue;
  color: whitesmoke;
  position: absolute;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  align-items: end;
  width: 600px;
  min-height: 75px;
  top: 23rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  text-align: center;
}

.First {
  text-align: left;
  justify-content: start;
  align-items: flex-start;
  margin: 2rem;
  font-size: large;
  font-weight: bold;
}
.second {
  text-align: left;
  justify-content: start;
  align-items: flex-start;
  margin: 2rem;
  font-size: large;
  font-weight: bold;
}

.news {
  text-align: center;
  font-size: xx-large;
  font-weight: 100;
  margin-top: 50px;
  font-style: italic;
  font-weight: bolder;
}
.article {
  text-align: left;
  justify-content: start;
  align-items: flex-start;
  margin: 2rem;
  font-size: large;
  font-weight: bold;
}
.arts1 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: large;
  font-style: oblique;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  list-style: none;
}
.explore {
  text-align: center;
  font-size: xx-large;
  font-weight: 100;
  margin-top: 50px;
  font-style: italic;
  font-weight: bolder;
}
.projects {
  text-align: left;
  justify-content: start;
  align-items: flex-start;
  margin: 2rem;
  font-size: large;
  font-weight: bold;
}
.pro {
  display: flex;
  list-style: none;
  text-align: center;
  font-size: large;
  font-style: oblique;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
.pro_next {
  display: flex;
  list-style: none;
  text-align: center;
  font-size: large;
  font-style: oblique;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

.image_size {
  width: 250px;
}
.site {
  text-align: center;
  font-size: xx-large;
  font-weight: 100;
  margin-top: 50px;
  font-style: italic;
  font-weight: bolder;
}
.para {
  justify-content: start;
  align-items: start;
  margin: 2rem;
  font-size: large;
  font-weight: bold;
}
.supporters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.resize {
  width: 115px;
}
.last {
  background-color: cornflowerblue;
  color: aliceblue;
  min-width: 100%;
  min-height: 300px;
  padding: 20px;
  box-sizing: border-box;
}
.display_felx {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.size {
  width: 20px;
}

.direct__child-1 {
  background: transparent;
  padding: 2rem;
  font-size: larger;
}

.direct__child-2 {
  background: transparent;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
