.a {
  background: indigo;
}
.b {
  background: yellowgreen;
}
.box1 {
  width: 150px;
  height: 150px;
  border: 3px solid grey;
  background-color: aquamarine;
  border-radius: 50%;
  padding: 5px;
}
.box2 {
  width: 200px;
  height: 120px;
  border: 3px solid green;
  background-color: blue;
  margin-top: 5px;
  padding: 7px;
  margin-bottom: 5px;
}
.box3 {
  width: 175px;
  height: 130px;
  border: 3px solid tomato;
  border-radius: 2px;
  padding: 5px;
  background-color: blueviolet;
}
